@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-family: 'Outfit', sans-serif;
    background-color: rgb(213, 225, 239);
}

.container{
    position: relative;
    background-color: rgb(213, 225, 239);
    margin-right: 500px;
    margin-left: 500px;
    cursor: pointer;
}

.box{
    /*border: 1px solid black; */
    margin-top: 100px;
    padding-top: 50px;
    padding-left: 180px;
    border-radius: 8px 8px 8px 8px;
    background-color: white;
    position: absolute;
    padding-bottom: 300px;
    width: 300px;
    box-sizing: border-box;
    height: 500px;
    margin-left: 115px;
}

.box .qr-image img{
    width: 270px;
    height: 270px;
    margin-left: -165px;
    border-radius: 8px 8px 8px 8px;
    position: absolute;
    margin-top: -36px;
}

.text{
    position: absolute;
    margin-top: 50px;
    text-align: center;
    background-color: transparent;
}

.text .text-1{
    font-weight: 700;
    margin-top: 200px;
    text-align: center;
    margin-left: -175px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: transparent;
    color: rgb(68, 83, 108);
}

.text .text-2{
    font-weight: 400;
    margin-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    margin-left: -175px;
    background-color: transparent;
    color: rgb(195, 195, 201);
}

.attribution{
    position: absolute;
    top: 700px;
    margin-left: 635px;
}

@media only screen and ( max-width: 1440px ){

    .container{
        position: relative;
        background-color: rgb(213, 225, 239);
        margin-right: 340px;
        margin-left: 340px;
        cursor: pointer;
    }  

    .attribution{
        position: absolute;
        top: 700px;
        margin-left: 470px;
    }  

}


@media only screen and ( max-width: 1024px ){

    .container{
        position: relative;
        background-color: rgb(213, 225, 239);
        margin-right: 200px;
        margin-left: 200px;
        cursor: pointer;
    }  

    .attribution{
        position: absolute;
        top: 700px;
        margin-left: 340px;
    }  

}

@media only screen and ( max-width: 768px ){

    .container{
        position: relative;
        background-color: rgb(213, 225, 239);
        margin-right: 80px;
        margin-left: 80px;
        cursor: pointer;
    }  

    .attribution{
        position: absolute;
        top: 700px;
        margin-left: 200px;
    }  

}

@media only screen and ( max-width: 375px ){

     .box{
        position: relative;
        background-color: rgb(213, 225, 239);
        margin-right: 50px;
        margin-left: 50px;
        cursor: pointer;
    }  

    .attribution{
        position: absolute;
        top: 700px;
        margin-left: 200px;
    }  

}
