@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

*{
	margin: 0;
	padding: 0;
	font-family: 'Manrope', sans-serif;
}

body{
	min-height: 100vh;
	display: flex;
	justify-content: center;
	background-color: rgb(32, 38, 50);
	align-items: center;
}

.box{
	border: 1px solid rgb(49, 58, 73);
	border-radius: 13px 13px 13px 13px;
	margin: 0 auto;
	text-align: center;
	padding: 30px;
	/*max-height: 300px;*/
	max-width: 400px;
	background-color: rgb(49, 58, 73);
}

.box .title{
	text-align: center;
	padding: 20px;
}

.box .title p{
	font-size: 14px;
	padding-bottom: 12px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: rgb(79, 236, 161);
}

.box .advice{
	text-align: center;
	color: rgb(206, 227, 232);
	font-size: 28px;
}

.box .divider{
	margin: 0 auto;
	display: block;
	margin-bottom: 20px;
	margin-top: 20px;
}

.box .divider img{
	max-width: 100%;
}

.box .btn{
	left: 655px;	
	position: absolute;
	margin: 0 auto;
	border-radius: 50%;
	width: 55px;
	height: 55px;
	background-color: rgb(79, 236, 161);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.box .btn img{
	width: 25px;
	height: 25px;
}

.box .btn:hover{
	box-shadow: 0 0 50px rgb(79, 236, 161);
}

@media only screen and (max-width: 600px){

	.box{
		max-width: 310px;
	}	

	.box .btn{
		left: 220px;
	}
}
